@import "../all.sass";

.AaNewsItem {
  margin-bottom: 30px;
}

.AaNewsItem h3 {
  display: inline;
  color: #ffffff;
  font-family: Muli;
}

.AaNewsItemHeader {
  display: flex;
  align-items: center;
}

.AaNewsItemHeader span {
  padding: 0 10px;
}

.AaNewsItemHeader small {
  font-family: Muli;
}

.AaNewsItem .content {
  border-bottom: 8px solid $secondary;
  background-color: $gray;
  padding: 30px;
  color: #ffffff;
}

.AaNewsItem .content p {
  font-family: 'EB Garamond', serif;
  font-size: 26px;
}

.AaNewsItem .btn {
  border-radius: 30px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 15px;
  background-color: $primary-color-light;
  background-image: none;
  border-width: 0;
  &:hover {
    background-color: $primary-color-light;
    background-image: none;
  }
}
