@import '../../styles/_variables';

.aafooter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 50%;
  justify-content: space-between;
  padding: 20px;
  background-color: $primary-color-light;
  color: #eeeeee;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }

  .articles {
    width: 40%;
  }

  .contact-form {
    width: 40%;
  }

}