@import '../../styles/_variables';

.aafooter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 50%;
  justify-content: space-between;
  border-top: 8px solid $secondary-color;
  padding: 20px;
  background-color: $primary-color-light;
  color: #FFFFFF;
}

.footerAddress {
  max-width: 50%;
  p{
    margin-bottom: 15px;
  }
}

.footerSocial {
  display: flex;
  ul {
    display: flex;
    li {
      margin-left: 20px;
      a {
        color: $secondary-color;
        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}
