@import "../../styles/_variables";

.about {
  display: flex;
}

.aboutItem {
  color: #ffffff;
  padding: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.aboutItem {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  background-position: center;
  background-size: cover;
  width: 100%;

  .color-overlay {
    /* Rectangle 11: */
    background: rgba(84, 104, 110, 0.4);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
  }
  .gradient-overlay {
    /* bg-gradient: */
    background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 21%
    );
    background-image: -moz-linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 21%
    );
    background-image: -o-linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 21%
    );
    background-image: linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 21%
    );
    position: absolute;
    top: 350px;
    left: 0;
    z-index: 15;
  }

  &:hover {
    .card-info {
      opacity: 1;
    }
    .color-overlay {
      background: rgba(84, 104, 110, 0.8);
    }
  }
}

.aboutItem p {
  margin-bottom: 15px;
  font-size: 26px;
  font-family: "Vollkorn", serif;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.aboutItem .aboutItemTitle {
  font-weight: bold;
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 25px;
}

.aboutItem.knowledge {
  background-color: $gray;
  padding: 30px;
}

.aboutItem.work {
  background-color: $green;
  padding: 30px;
}

.aboutItem.inspire {
  background-color: $brown;
  padding: 30px;
}

.aboutItem .btn {
  color: #ffffff;
  border-radius: 30px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 15px;
  background-color: $primary-color-light;
  background-image: none;
  border-width: 0;
  margin-top: 40px;
  &:hover {
    background-color: $primary-color-light;
    background-image: none;
    color: #ffffff;
    cursor: pointer;
  }
}
