@import "../../styles/_variables";

.about {
  display: flex;
}

.aboutItem {
  color: #ffffff;
  padding: 30px;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-bottom: 40px;

  @media only screen and (max-width: 600px) {
    margin: 10px;
  }
}

.aboutItem p {
  margin-bottom: 15px;
  font-size: 26px;
  font-family: "Vollkorn", serif;
}

.aboutItem .aboutItemTitle {
  font-weight: bold;
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 25px;
}

.aboutItem.knowledge {
  background-color: $gray;
  padding: 30px;
}

.aboutItem.work {
  background-color: $green;
  padding: 30px;
}

.aboutItem.inspire {
  background-color: $brown;
  padding: 30px;
}

.aboutItem .btn {
  color: #ffffff;
  border-radius: 30px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 15px;
  background-color: $primary-color-light;
  background-image: none;
  border-width: 0;
  &:hover {
    background-color: $primary-color-light;
    background-image: none;
    color: #ffffff;
    cursor: pointer;
  }
}

.container {
  @media only screen and (max-width: 600px) {
    margin-left: 0;
    margin-right: 0;
  }
}
