@import "../styles/_variables.scss"

*
  box-sizing: border-box
  margin: 0
  padding: 0

body
  font-family: Merriweather Sans
  background-color: $primary-color-light
  margin: 0
  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  -o-font-smoothing: antialiased

a
  color: $secondary-color

a:hover
  color: $secondary-color

a.has-text-primary:hover, a.has-text-primary:focus
  color: $secondary-color !important

.content h2
  color: #eeeeee

.top
  position: fixed
  width: 100vw

.top-inner
  padding: 20px
  display: flex
  justify-content: space-between
  align-items: center

.main-nav
  width: 100%
  margin-left: 30px
  ul
    display: flex
    a
      padding: 10px 20px
      font-size: 20px
      text-transform: uppercase
      color: #eeeeee
      transition: color .5s
      &:hover
        color: #849AEC

.right-menu
  display: flex
  .mode-toggle
    margin-right: 20px

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

.logo
  max-width: 60%

.container
  max-width: 1200px
  margin-left: auto
  margin-right: auto

/* Blog */

.blog p, .portfolio p
  font-family: 'Vollkorn', serif
  color: #eeeeee
  font-size: 26px

.content h1
  color: #eeeeee
  font-size: 50px

.blog-title
  height: 70vh
  display: flex
  align-items: center
  padding: 20px

.blog-content
  padding: 20px

.blog h1, .portfolio h1
  color: #eeeeee
  padding: 0
  margin: 0

.blog h4, .portfolio h4
  color: $bage

.taglist a
  color: $secondary-color

.NewsItems
  display: flex
  flex-wrap: wrap

a
  text-decoration: none

ul
  list-style: none
  margin: 0
  padding: 0

button
  background-color: #eeeeee
  color: #414A68
  text-transform: lowercase
  min-width: 215px
  height: 60px
  font-size: 18px
  border-radius: 5px
  transition: background-color .5s, color .5s
  cursor: pointer
  border: none
  &:hover
    background-color: #5969a2
    color: #eee
